body{
    background-color: black;
}

.cell {
    border: solid 1px white;
    color: white;
    text-align: center;
    padding: 0;
    width: 166px;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    caret-color: transparent;
}

#gameBoard{
    /* border: solid 2px red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 500px;
    height: 500px;
}


/* Getting rid of the top cell borders */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}

/* Getting rid of the bottom cell borders */
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}

/* Getting rid of the left cell borders */
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left: none;
}

/* Getting rid of the right cell borders */
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: none;
}

.title{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 40px;
}


/* #crossOutAnimation {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid 1px white;
    width: 500px;
    height: 500px;
  } */

  #lineAnimation {
    position: absolute; /* Set absolute positioning for the SVG canvas */
    top: 50%; /* Position the SVG canvas at the vertical center of the gameBoard */
    left: 50%; /* Position the SVG canvas at the horizontal center of the gameBoard */
    transform: translate(-50%, -50%); /* Center the SVG canvas precisely over the gameBoard */
    width: 100%; /* Make the SVG canvas width the same as the gameBoard width */
    height: 100%; /* Make the SVG canvas height the same as the gameBoard height */
    pointer-events: none; /* Optional: Disable pointer events on the SVG so it doesn't interfere with the clicks on cells */
  }